@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    margin:0;
}
h1{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 56px;
    color: #000000;
}
header{
    display: flex;
    justify-content: space-around;
    height: max-content;
    background-color: #006400;
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    
}
.menu{
    text-decoration: none; 
    color: #000000;
    font-size: 18px;
}
.menu:active{
    text-decoration:underline;
    color: #616161;
    font-size: 18px;
}

main{
    background-image: url('images/tile_background\ \(2\).png');
    
}
p{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight:600;
    font-size:x-large;
    
}
.cart{
    width: 215px;
    height: 320px;
    margin: 30px;
}
.text{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
footer{
    background-color: #082C3B; 
    padding: 10px;
    color:white; 
    font-size: 11px;
    font-family: 'Ubuntu', sans-serif;
}
.flex{
    text-decoration: none; 
    color: white;
    display: flex;
    justify-content: space-around;
    width:50%;
    margin:0,5%;
    font-size: 18px;
}
a{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-decoration: none; 
    font-size: 14px;
}
.textH1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: black;
    margin-bottom: 0;
}
  
.textBlock{ 
    width: 40%; 
    text-align: center; 
    margin: 20px auto 30px; 
}
.blackLine { 
    display: block;
    width: 120px;
    height: 1px;
    background-color: black;
    margin: 30px auto 0px;
}
.textone{
    flex-direction: column;
}
.stat1{
    display: flex;
    flex-direction: row;
}
.stat2{
    display: flex;
    flex-direction: row;
}
#Vector{
    width: 23px;
    height: 25px;
}
.novosti{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.dalee{
    font-family: 'Ubuntu', sans-serif;
    color: rgba(153, 101, 135, 0.973); 
    font-size: 14px;
    text-decoration:underline;
}
.poster{
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.stroka1{
    display: flex;
    justify-content: space-around;
}
.stroka2{
    display: flex;
    justify-content: space-around;
}
.ivan{
    margin-left: 50px;
    margin-bottom: 0;
}
.obrachenie{
    margin-top: 30px;
    padding: 5px;
}
.izdatelstvo{
    padding: 200px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSI2RkakpdBZdyLefrzAfuPJvuqp-9qW-Jymg&usqp=CAU');
    background-size: 1400px 880px;
}
.izdatelstvo2{
    padding: 200px;
}
.textBlock2{
    width: 40%; 
    text-align: center; 
    margin: 20px auto 30px;
    padding-top:20px;
}

/*слайдер*/
#slider{
    position: relative;
    text-align: center;
}
#slider{
    margin: 0 auto;
}
#slides article{
    width: 20%;
    float: left;
}
#slides .newimage{
    width: 50%;
    line-height: 0;
}
#overflow{
    width: 100%;
    overflow: hidden;
}
article img{
    width: 100%;
}
#desktop:checked ~ #slider{
    max-width: 960px;
}
#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
    background: url("images/left.png") no-repeat;
    float: left;
    margin: 0 0 0 -84px;
    display: block;
    height: 68px;
    width: 68px;
}
#switch5:checked ~ #controls label:nth-child(2),
#switch1:checked ~ #controls label:nth-child(3),
#switch2:checked ~ #controls label:nth-child(4),
#switch3:checked ~ #controls label:nth-child(5),
#switch4:checked ~ #controls label:nth-child(1){
    background: url("images/right.png") no-repeat;
    float: right;
    margin: 0 -84px 0 0 ;
    display: block;
    height: 68px;
    width: 68px;
}

label, a{
    cursor:pointer;
}
.all input{
    display: none;
}
#switch1:checked ~ #slides .newimage{
    margin-left: 0;
}
#switch2:checked ~ #slides .newimage{
    margin-left: -100%;
}
#switch3:checked ~ #slides .newimage{
    margin-left: -200%;
}
#switch4:checked ~ #slides .newimage{
    margin-left: -300%;
}
#switch5:checked ~ #slides .newimage{
    margin-left: -400%;
}
#controls{
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}
#active label{
    border-radius: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #004b19;
    /* сюда можно цвет фона засунуть*/
}
#active{
    margin: 23% 0 0;
    text-align: center;

}
#active label:hover{
    background: #006400;
    border-color: #777 !important;

}
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
    background: #228B22;
    border-color:#228B22 !important;
}
#slides .newimage{
    transition: all 800ms ease-out;
}
#controls label:hover{
    opacity: 0.6;
}
#controls label{
    transition: opasity 0,2s ease-out;
}












